*{
  --mind-surface: #fff;
  --mind-light: #f5f5f6;
  --mind-dark: #323232;

  --mind-primary: #003566;
  --mind-primary-light: #3f5e94;
  --mind-primary-dark: #000f3b;

  --mind-secondary: #ffc300;
  --mind-secondary-light: #fff54f;
  --mind-secondary-dark: #c79300;

  --mind-error: #b00020;
  --mind-link: #f5f5f6;
  --mind-approved: #79a82d;

  --mind-light-bold: 500;
}